body{
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Nunito', sans-serif;
}

.row {
    display :flex;
    flex-wrap: wrap;
}

.imgheight{

    height : 200px;

}

.navbar-collapse.collapse.in {
    display: block!important;
  }

.form-group input.inputwidth[type = "text"],
.form-group input.inputwidth[type = "password"],
button.btnwidth{
      width : 30%;
      /* margin :25px auto; */
  }

  div.footerwidth{
      width : 30%;
      /* margin : 25px auto; */
      
  }
  div.div-comments{
    border-left: 1px solid rgba(0,0,0,0.1);
    border-top : 1px solid rgba(0,0,0,0.1);
    /* border-bottom : 1px solid rgba(0,0,0,0.1); */
    padding: 10px;
}

  div.div-comments:hover{
        border-left : 3px solid rgba(0, 255, 21,0.75);
        padding-left: 5px;
  }

  .div-ingredent{
      width :50%;
      margin-bottom: 30px;
      margin-top:10px;
  }


.hdcenter{
    text-align: center;
}

p  a.btn{
    margin-top :15px;
}

p small {
    font-size : .65em;
}

p.lead.text-muted {
    margin-top : 20px;
    color: rgba(91, 37, 216, 1.0);
    font-weight: bolder;
}

div.div-comments-margin{
    margin-top : 25px;
    margin-bottom: 25px;
}

#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top:35px;
}

.zero-left-padding{
    padding-left: 0px;
}