<% include ../partials/header %>


    <div class="container">
            <h2 class = "hdcenter">Create New Recipe</h2>
        <form action="/recipes" method="POST">

            <input class = "form-control inputwidth text-center" type="text" name="name" placeholder="Name">
            <input class = "form-control inputwidth text-center" type="text" name="image" placeholder="Image URL">
            <input class = "form-control inputwidth text-center" type="text" name="description" placeholder="Description">
            <button class = "btn btn-outline-info btn-block btnwidth">Add Recipe</button>

        </form>

        <div class = "footerwidth"><a href="/recipes">Back</a></div>
    </div>
    <% include ../partials/footer %>